.chat-side
  .side-header
    .side-header__box
      .side-header__box__user-name
        = current_user.name
      .side-header__box__menu
        =link_to new_group_path, class: "side-header__box__menu__new-group" do
          = icon('fas', 'edit')
        =link_to edit_user_path(current_user), class: "side-header__box__menu__new-group" do
          = icon('fas', 'cog')
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません。
.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group
        Takeshi
      .main-header__left-box__current-list
        Member
    =link_to edit_group_path(current_user), class: "main-header__edit-btn"do
      Edit
  .main-message
    .main-message__left-box
      .main-message__left-box__name
        Takeshi
      .main-message__left-box__date
        2019/10/08/19:14:39
      .main-message__left-box__message
        This is the first message
  .form
    = form_tag("#") do
      .input-box
        %input{type: "text", placeholder:"type a message",class:"input-box__text"}
        %label{class:"input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class:"input-box__image__file", name:"message[image]"}
        %input{type:"submit", value:"send", class: "submit-btn"}