.chat-side
  .side-header
    .side-header__box
      .side-header__box__user-name
        = current_user.name
      .side-header__box__menu
        =link_to new_group_path, class: "side-header__box__menu__new-group" do
          = icon('fas', 'edit')
        =link_to edit_user_path(current_user), class: "side-header__box__menu__new-group" do
          = icon('fas', 'cog')
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message

  -# .form
  -#   = form_for [@group, @message] do |f|
  -#     .input-box
  -#       = f.text_field :text, class: 'input-box__text', placeholder: 'type a message'
  -#       = f.label :image, class: 'input-box__image' do
  -#         = icon('fas', 'image', class: 'icon')
  -#         = f.file_field :image, class: 'input-box__image__file'
  -#       = f.submit 'Send', class: 'submit-btn'
    -# .form
    -# = form_tag("#") do
    -#   .input-box
    -#     %input{type: "text", placeholder:"type a message",class:"input-box__text"}
    -#     %label{class:"input-box__image"}
    -#       = icon('fas', 'image')
    -#       %input{type: "file", class:"input-box__image__file", name:"message[image]"}
    -#     %input{type:"submit", value:"send", class: "submit-btn"}